body
{
	margin-top: 1.0em;
	background: url(images/background.png) no-repeat 0 0 #000;
	background-attachment:fixed;
	background-position: top center;
	color: #000;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	color: #666;
}

#container
{
	margin: 0 auto;
	width: 700px;
}
    
h1 { font-size: 3.8em; color: #5d0a19; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #999; }
h3 { text-align: center; color: #6F0; }
a { color: #5d0a19; }
.description { font-size: .9em; margin-bottom: 19px; margin-top: 19px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }