@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace tabbar "com.norcalflash.jeditimetracker.skins.tabbar.*";
@namespace views "com.norcalflash.jeditimetracker.views.*";

@font-face 
{
	src: url("/assets/MyriadWebPro.ttf") ;
	fontFamily: Myriad;
	unicodeRange:
		U+0041-U+005A, /* Upper-Case [A..Z] */
		U+0061-U+007A, /* Lower-Case a-z */
		U+0030-U+0039, /* Numbers [0..9] */
		U+002E-U+002E; /* Period [.] */
}

@font-face 
{
	src: url("/assets/MyriadWebPro-Bold.ttf") ;
	fontFamily: Myriad;
	fontWeight: bold;
	unicodeRange:
		U+0041-U+005A, /* Upper-Case [A..Z] */
		U+0061-U+007A, /* Lower-Case a-z */
		U+0030-U+0039, /* Numbers [0..9] */
		U+002E-U+002E; /* Period [.] */
}

@font-face
{
	fontFamily: MyriadWebPro-Bold;
	fontWeight: bold;
	fontStyle: normal;
	src: url("assets/MyriadWebPro-Bold.ttf");
}

s|Form
{
	skinClass: ClassReference('com.norcalflash.jeditimetracker.skins.form.FormSkin');
}

s|FormHeading
{
	skinClass: ClassReference('com.norcalflash.jeditimetracker.skins.form.FormHeadingSkin');
}

s|FormItem
{
	skinClass: ClassReference('com.norcalflash.jeditimetracker.skins.form.FormItemSkin');
}

views|ReportsView s|FormItem
{
	skinClass: ClassReference('com.norcalflash.jeditimetracker.skins.form.HorizontalFormItemSkin');
}

s|TabBar 
{
	skinClass: ClassReference('com.norcalflash.jeditimetracker.skins.tabbar.TabBarSkin');
}

tabbar|TabBarButtonSkin
{
	backgroundColor: #dedede;
	color: #666;
	selectedColor: #000;
	cornerRadius: 0;
	fontSize: 12;
}

s|Button 
{
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 10;
	fillAlphas: 0.33, 0.19, 0.82, 0.48;
	borderColor: #f7fafa;
	fontSize: 12;
}

.saveButton 
{
	icon: Embed(source="assets/disk.png");
}

.cancelButton 
{
	icon: Embed(source="assets/cancel.png");
}

.deleteButton 
{
	icon: Embed(source="assets/delete.png");
}

.loadButton 
{
	icon: Embed(source="assets/database.png");
}